.slider-wrapper {
    position: relative;
    height: 3px;
    background-color: #ddd;
    margin-top: 1rem;
}

.slider-wrapper input[type="range"] {
    position: absolute;
    pointer-events: none;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: transparent;
}

.slider-wrapper input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background-color: #3273dc;
    border-radius: 50%;
    cursor: pointer;
}

.slider-wrapper input[type="range"]::-moz-range-thumb {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    background-color: #3273dc;
    border-radius: 50%;
    cursor: pointer;
}