$background-dark: #121212; // Main background
$vibrant-blue: #1E88E5; // Bright blue
$cyan: #00BCD4; // Clean cyan
$blue-light: #64B5F6; // Soft light blue
$blue-dark: #0D47A1; // Dark blue
$cyan-light: #4DD0E1; // Light cyan
$cyan-dark: #00838F; // Dark cyan
$white: #FFFFFF; // Text color
$grey: #BDBDBD; // Muted elements
$grey-dark: #424242; // Secondary elements

@use "sass/index" with (
  $primary: $vibrant-blue,

  $link: $cyan,
  $info: $cyan-light,
  $success: $blue-dark,
  $warning: $blue-light,
  $danger: $cyan-dark,

  $grey: $grey-dark,
  $grey-light: $grey,

  $background: $background-dark
);
